/*Description*/
/* 0. ROOT */
/* 1. Settings */
/* 2. Navbar*/
/* 3. Radio buttons */
/* 4. Chart */
/* 5. Game card grid */
/* 6. Hero */
/* 7. Search section */
/* 8. Footer f2p home*/
/* 9. Cities page styling */
/* 10. Cities Navbar */
/* 11. Cities hero*/
/* 12. Cities FORMS */
/* 13. Cities CARDS */
/* 14. Cities FOOTER */
/* 15. Media queries */


/* 0. ROOT */
* {
  margin: 0px;
  padding: 0px;
}

:root {
  --light-bg-clr: #f5f5f5;
  --dark-grey-bg: #292929;
  --medium-grey-bg: #70706b;
  --light-grey-bg: #c7c7bd;
  --button-clr: #17acb4;
  --card-text: #f5f5f5;
  --navbar-clr: #292929;
  --btn-text-clr: black;
  --chart-text-div: #292929;
  --chart-text-clr: white;
  --hero-img: url(images/hero_image.avif);
}

:root:has(#light:checked) {
  --light-bg-clr: #f5f5f5;
  --dark-grey-bg: #c7c7bd;
  --medium-grey-bg: #f5f5f5;
  --light-grey-bg: #c7c7bd;
  --button-clr: #17acb4;
  --card-text: black;
  --btn-text-clr: black;
  --chart-text-clr: black;
  --chart-text-div: #c7c7bd;
  
  --hero-img: url(images/light_hero.avif);
}

:root:has(#blue:checked) {
  --light-bg-clr: #f5f5f5;
  --dark-grey-bg: #34a0a4;
  --medium-grey-bg: white;
  --light-grey-bg: #c7c7bd;
  --button-clr: black;
  --card-text: black;
  --btn-text-clr: white;
  --chart-text-div: linear-gradient(to right, #52b69a, #76c893);
  --chart-text-clr: black;
  --navbar-clr: linear-gradient(to right, #168aad, #52b69a);
  --hero-img: url(images/blue_hero2.avif);
}

.home-body {
  background-color: var(--medium-grey-bg);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* 1. Settings */
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

/*2. Navbar*/
.navbar-expand-lg {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.navbar {
  background: var(--navbar-clr) !important;
}

.nav-link {
  color: #f5f5f5;
}

.navbar-brand {
  color: #f5f5f5;
}

.navbar-brand > img {
  height: 50px;
  width: auto;
}

.navbar-toggler {
  color: #f5f5f5;
  background-color: white;
}

.active {
  color: #f5f5f5 !important;
}

.active:hover {
  color: black !important;
}

/* 3. Radio btns */
/* Hidden radiobutton text */
.radiobtn-notext {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-mode > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  padding-bottom: 24rem;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;
}

.color-mode input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline: 3px solid var(--radio-clr, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.color-mode input[type="radio"]#light {
  --radio-clr: white;
}

.color-mode input[type="radio"]#dark {
  --radio-clr: #292929;
}

.color-mode input[type="radio"]#blue {
  --radio-clr: #168aad;
}

.color-mode input[type="radio"]:checked {
  background-color: var(--radio-clr);
}

/* 4. CHART design */
#chart-container {
  height: 100%;
  display: flex;
  background-color: var(--medium-grey-bg);
  padding: 70px 10px 70px 10px;
}

#chart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  width: 60rem;
  height: auto;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: var(--dark-grey-bg);
  border-radius: 8px;
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  border: 3px solid #17acb4;
}

#chart > h2 {
  font-size: 1.3rem;
  padding: 10px;
  color: var(--card-text);
}

#chart > h2 > small {
  font-size: 0.7rem;
}

.chart-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--chart-text-div);
  color: var(--chart-text-clr);
  height: 100%;
}
.chart-text-container > h3 {
  text-align: center;
  padding-top: 10px;
}

.chart-lorem-text > p {
  text-align: center;
  padding-inline: 8vw;
}

/* 4. Card Grid*/
#result {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 70px 0px 0px 0px;
  list-style: none;
  margin: 0px;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  background-color: var(--medium-grey-bg);
}

#grid-section {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--medium-grey-bg);
}

.list-group-item {
  color: var(--card-text);
  background-color: var(--dark-grey-bg);
}

.card {
  background-color: var(--dark-grey-bg);
  color: var(--card-text);
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.card-link {
  text-decoration: none;
  color: white;
  padding: 4px;
  background-color: var(--button-clr);
  border-radius: 8px;
}

/* 6. Hero */
.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--hero-img);
  height: 100vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.7rem;
  text-align: center;
  color: #f5f5f5;
  padding-bottom: 27rem;
  margin: 0 0.3em 0 0.3em;
}

/* 7. Search section */
#search-heading-div {
  height: 70px;
  text-align: center;
  background-color: var(--medium-grey-bg);
  padding: 30px 0px 60px 0px;
}

#search-heading {
  color: black;
}

#genre {
  height: 40px;
  border: 3px solid var(--button-clr);
  border-radius: 8px;
  margin: 10px;
}

.search-btn-div {
  display: inline-flex;
  background-color: var(--medium-grey-bg);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 10px 0px 0px 0px;
}

/* "Search" button and "New Search" button*/
.btn1 {
  width: 150px;
  font-size: 20px;
  height: 40px;
  border: none;
  outline: none;
  background-color: var(--button-clr);
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  color: var(--btn-text-clr);
  margin: 10px;
}

.btn1:hover {
  background-color: #0f5a5e;
}

.btn-text {
  color: var(--btn-text-clr);
  font-size: 1em;
  background-image: none;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.btn2 {
  width: 150px;
  font-size: 20px;
  height: 40px;
  border: none;
  outline: none;
  background: var(--button-clr);
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  color: var(--btn-text-clr);
  margin: 10px;
}

.btn2:hover {
  background-color: #0f5a5e;
}

/* 8. Home footer */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  padding-top: 12px;
  background: var(--navbar-clr);
}

/* 9. CITIES PAGE styling below */
.cities-body {
  background-color: #cad2c5;
}

/* 10. Navbar */
#navbar-cities {
  height: 69px;
  background-color: #52796f !important;
}

#get-cities-div {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #cad2c5;
}

#get-cities-div > h2 {
  padding: 1rem;
  text-align: center;
}

.cities-cards {
  background-color: #354f52 !important;
}

/* 11. Cities Hero */
.hero-container {
  margin-top: 69px;
}

.hero-cities {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/cities_hero_2.jpg");
  height: 60vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.text-cities {
  font-size: 1.7rem;
  text-align: center;
  color: #f5f5f5;
  margin: 0 0.3em 0 0.3em;
}

/* 12. FORMS */
/* POST Form */
#form-section {
  display: flex;
  padding: 10px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #cad2c5;
}

#post-form {
  width: auto;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #354f52;
}

/* PUT Form */
#put-form {
  width: auto;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #354f52;
}

#put-button {
  border: none;
  color: black;
  background-color: #84a98c;
}

/* Delete Form */
#delete-form-div {
  width: auto;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #354f52;
}

#del-city-btn {
  border: none;
  color: black;
  background-color: #84a98c;
}

#add-city-button {
  border: none;
  color: black;
  background-color: #84a98c;
}

.form-group {
  padding: 10px;
}

/* 13. Cities cards */
#show-cities {
  border: none;
  color: black;
  background-color: #84a98c;
}

#cities-grid-section {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#cities-div {
  display: grid;
  width: 100%;
  height: auto;
  padding: 20px 0px 20px 0px;
  list-style: none;
  margin: 0;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  background-color: #cad2c5;
}

.cities-card {
  color: white;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

/* 14. FOOTER */
.cities-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  padding-top: 12px;
  background-color: #52796f !important;
}

/* 15. Media queries */
/* 320px - 374px*/
@media screen and (min-width: 320px) and (max-width: 374px) {
  .color-mode > fieldset {
    padding-bottom: 7rem;
  }

  .text {
    padding-bottom: 9rem;
  }

  #footer > p {
    font-size: 12px;
  }

  #chart > h2 {
    font-size: 1rem;
  }
}

/* 375px - 400px */
@media screen and (min-width: 375px) and (max-width: 400px) {
  .color-mode > fieldset {
    padding-bottom: 13rem;
  }

  .text {
    padding-bottom: 17rem;
  }
}

/* 401px - 600px */
@media screen and (min-width: 401px) and (max-width: 600px) {
  .color-mode > fieldset {
    padding-bottom: 15rem;
  }

  .text {
    padding-bottom: 19rem;
  }
}

/* MaxWidth 280px */
@media screen and (max-width: 280px) {
  .color-mode > fieldset {
    padding-bottom: 11rem;
  }

  .text {
    padding-bottom: 10rem;
  }

  #footer > p {
    font-size: 12px;
  }

  #chart > h2 {
    font-size: 1rem;
  }
}
